@charset "UTF-8";

/* 좋아요 컨테이너 */
.like-container {
    display: flex;
    justify-content: flex-start; /* 왼쪽 정렬 */
    align-items: center;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 좋아요 버튼 */
.like-button {
    padding: 10px 20px;
    background-color: #28a745; /* 초록색 */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
}

.like-button:hover {
    background-color: #218838; /* hover 색상 */
}

/* 좋아요 수 */
.like-count {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
}